p, .txt {  text-align: justify;
  			 text-justify: inter-word;
  	}
#l-column {
        background-color: #3386AE;
        color: white;
        padding: 40px;
    }
#r-column {
        background-color: white;
        padding: 0px;
    }
.europe-map {
        width: 90%;
        height: 90%;
        margin: 0 auto;
        display: grid;
        place-items: center;
        grid-template-areas: "inners";
        z-index: -2;
    }

.eu-countries {
        grid-area: inners;
        height: 100%;
        width: 100%;
        z-index: 2;
    }

.non-eu-countries {
        grid-area: inners;
        height: 100%;
        width: 100%;
        z-index: 1;
    }

.eu-countries path {
        fill: #3386AE;
        stroke: white;
        stroke-width: 1px;
        transition: fill 0.3s;
    }

.non-eu-countries path {
        fill: #C2C2C2;
        stroke: white;
        stroke-width: 1px;
        transition: fill 0.3s;
    }

.eu-countries path:hover {
        fill: #0F5A7F;
    }

.selected-country {
        fill: #E9860F !important;
}

/* Timeslider CSS */
.time-slider {
  width: 100%;
  margin-bottom: 5%;
}

.yeardisplay{
  text-align: center;
  font-size: 250%;
}

.slidecontainer {
  width: 60%; /* Width of the outside container */
  display: inline-block;
  border: 1px solid black;
  z-index: 99;
  position: fixed;
  bottom: 0;
  background-color: aliceblue;
  margin: 20px;
}

.minimumyear{
  width: 10%;
  display: inline-block;
  text-align: right;
}

.maximumyear{
  width: 10%;
  display: inline-block;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  width: 79%;
  height: 15px;
  border-radius: 5px;  
  background: #C2C2C2;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  display: inline-block;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #3386AE;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #3386AE;
  cursor: pointer;
}

#panel-contents {
        width: 90%;
        height: 90%;
        margin: 0 auto;
        display: grid;
        place-items: center;
        grid-template-areas: "inners";
        z-index: -2;
    }

#instructions-panel {
    grid-area: inners;
    height: 100%;
    width: 100%;
    z-index: 2;
}

#graphs-panel {
    display: none;
    grid-area: inners;
    height: 100%;
    width: 100%;
    z-index: 1;
}