<!-- base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>{% block title %}{% endblock %}</title>

	<!-- Bootstrap core CSS -->
	<link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

	<!-- Our own CSS -->
	<link href="static/css/style.css" rel="stylesheet">

	<!-- D3 packages -->
	<script src="https://d3js.org/d3.v4.min.js"></script>
	<script src="https://d3js.org/d3.v5.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
	
	<!-- jQuery package -->
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	<script src="static/js/leftcolumn.js" type="text/javascript"></script>
	<script src="https://cdn.jsdelivr.net/npm/@observablehq/stdlib"></script>
</head>
<body>
	<main role="main" class="flex-shrink-0">
		{% block body %}
		{% endblock %}
	</main>
</body>
</html>