{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block leftColumn %}
<script type="text/javascript">
	d3.selectAll(".nav-item").classed("active", false);
	d3.select("#nav-link-home").classed("active", true);
</script>

<!-- Begin page content -->
    <h2 class="mt-3">Our Project</h2>

    <p class="txt">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quis eros fringilla, semper enim non, rhoncus odio. Vivamus feugiat, est sit amet posuere feugiat, risus augue facilisis ex, sit amet posuere purus urna in nibh. Morbi nec dolor varius, malesuada sem eget, dictum ligula. Duis id dui arcu. Sed lorem sem, faucibus sit amet consequat eget, ultrices vel ipsum. Duis a dui sem. Aenean eget consequat mauris. Fusce feugiat est vitae tempus accumsan. Phasellus viverra vestibulum urna et ultrices.

	In in euismod nunc. Donec tincidunt porttitor nulla. Aliquam et ex bibendum, tincidunt arcu nec, scelerisque orci. Donec euismod fermentum turpis ut consectetur. Aliquam molestie lacus erat, quis ornare nibh volutpat sit amet. Aenean convallis velit eu rutrum hendrerit. Duis lobortis nibh quis nisl bibendum, et semper odio facilisis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Etiam vehicula nunc vel ligula accumsan ullamcorper id non turpis. Integer blandit augue eget odio consectetur, eget tincidunt risus tincidunt. Suspendisse nulla odio, lobortis vel ante vel, viverra egestas enim.
    </p>
{% endblock %}

{% block europeMap %}
<p class="txt">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quis eros fringilla, semper enim non, rhoncus odio. Vivamus feugiat, est sit amet posuere feugiat, risus augue facilisis ex, sit amet posuere purus urna in nibh. Morbi nec dolor varius, malesuada sem eget, dictum ligula. Duis id dui arcu. Sed lorem sem, faucibus sit amet consequat eget, ultrices vel ipsum. Duis a dui sem. Aenean eget consequat mauris. Fusce feugiat est vitae tempus accumsan. Phasellus viverra vestibulum urna et ultrices.

	In in euismod nunc. Donec tincidunt porttitor nulla. Aliquam et ex bibendum, tincidunt arcu nec, scelerisque orci. Donec euismod fermentum turpis ut consectetur. Aliquam molestie lacus erat, quis ornare nibh volutpat sit amet. Aenean convallis velit eu rutrum hendrerit. Duis lobortis nibh quis nisl bibendum, et semper odio facilisis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Etiam vehicula nunc vel ligula accumsan ullamcorper id non turpis. Integer blandit augue eget odio consectetur, eget tincidunt risus tincidunt. Suspendisse nulla odio, lobortis vel ante vel, viverra egestas enim.
    </p>
{% endblock %}

{% block timeSlider %}
{% endblock %}